@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@600&family=Clicker+Script&family=Dancing+Script&family=Kaushan+Script&family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600&family=Merriweather:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,700;0,800;1,100;1,200&family=Nerko+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,700;0,900;1,100;1,200;1,300;1,500;1,700;1,800;1,900&family=Roboto:ital,wght@0,300;0,400;0,500;1,100&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300&family=Trade+Winds&family=Work+Sans:ital,wght@0,100;0,200;0,400;1,200;1,400&family=ZCOOL+QingKe+HuangYou&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  text-transform: capitalize;
  scroll-behavior: smooth;
  list-style: none;
  font-family: "Montserrat", sans-serif;
  user-select: none;
}

body {
  background-color: #fff;
  overflow-x: hidden;
}

.menu {
  font-size: 25px;
  position: fixed;
  top: 30px;
  right: 30px;
  background-color: #44bb6a;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  color: #fff;
  border-radius: 2px;
  z-index: 10000;
  display: none;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #44bb6a;
}

section {
  padding: 3rem 5% 3rem 25%;
  margin: auto;
}

.container_header nav {
  width: 24%;
  background-color: #44bb6a;
  height: 100vh;
  padding: 20px;
  position: fixed;
  top: 0;
  left: 0;
}
.container_header nav .logo {
  font-size: 30px;
  color: #f6f6f6;
}
.container_header nav .logo i {
  color: #ff0;
}
.container_header nav .navList {
  margin: 60px 0;
}
.container_header nav .navList li {
  margin: 20px 0;
}
.container_header nav .navList li a i {
  color: #ff0;
  margin-right: 10px;
  transition: 0.3s;
}
.container_header nav .navList li span {
  font-size: 20px;
  font-weight: 500;
  color: #fff;
}
.container_header nav .navList li:hover i {
  margin-right: 20px;
}
.container_header nav .icons .navIcon {
  display: flex;
  align-items: center;
}
.container_header nav .icons .navIcon li {
  margin: 0 7px;
  padding: 10px 12px;
  background-color: #f6f6f6;
  font-size: 20px;
  border-radius: 2px;
  color: #263238;
  transition: 0.3s;
  margin-bottom: 20px;
}
.container_header nav .icons .navIcon li:hover {
  background-color: #263238;
  color: #f6f6f6;
}
.container_header nav .icons h2 {
  font-size: 25px;
}
.container_header nav .icons h2 span {
  color: #ff0;
}

.home .container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
.home .container .home_img {
  width: 50%;
}
.home .container .home_info {
  width: 50%;
}
.home .container .home_info span {
  color: #44bb6a;
}
.home .container .home_info .first_span {
  font-size: 20px;
}
.home .container .home_info h2 {
  font-size: 40px;
  margin: 15px 0;
}
.home .container .home_info p {
  color: #777;
}
.home .container .home_info .btn button {
  padding: 8px 20px;
  background-color: transparent;
  background-color: #263238;
  color: #fff;
  letter-spacing: 1px;
  font-size: 15px;
  border: none;
  transition: 0.3s;
  margin-top: 20px;
}
.home .container .home_info .btn button:hover {
  background-color: #44bb6a;
}

.afterHome {
  background-color: #f6f6f6;
}
.afterHome .container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(190px, auto));
  align-items: center;
  gap: 20px;
  margin-top: 50px;
  padding: 30px 70px;
}
.afterHome .container .box {
  background-color: #fff;
  padding: 20px 23px;
  display: flex;
  align-items: center;
  gap: 20px;
}
.afterHome .container .box i {
  background-color: #44bb6a;
  border-radius: 50%;
  font-size: 20px;
  color: #fff;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
}
.afterHome .container .box .info span {
  color: #777;
}

.category .containerCategory {
  text-align: center;
}
.category .containerCategory .heading span {
  color: #44bb6a;
  text-transform: uppercase;
  font-size: 20px;
}
.category .containerCategory .heading h2 {
  text-transform: uppercase;
  font-size: 30px;
}
.category .containerCategory .abbBoxCategory {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, auto));
  align-items: center;
  gap: 20px;
  padding: 0 70px;
  margin: 40px auto;
}
.category .containerCategory .abbBoxCategory .box {
  border: 2px solid #263238;
  padding: 25px 20px;
  border-radius: 2px;
}
.category .containerCategory .abbBoxCategory .box i {
  padding: 15px;
  background-color: #44bb6a;
  border-radius: 5px;
  color: #fff;
  transition: 0.3s;
}
.category .containerCategory .abbBoxCategory .box:hover i {
  transform: translateY(-10px);
}
.category .containerCategory .abbBoxCategory .box h3 {
  font-weight: 600;
  margin: 15px 0;
}
.category .containerCategory .abbBoxCategory .box p {
  color: #777;
}

.about .container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 50px 5% 50px 5%;
}
.about .container .about_img {
  width: 50%;
}
.about .container .about_info {
  width: 50%;
}
.about .container .about_info span {
  color: #44bb6a;
  font-size: 25px;
}
.about .container .about_info h2 {
  font-weight: 500;
  margin: 10px 0;
}
.about .container .about_info p {
  color: #777;
  margin-bottom: 20px;
}
.about .container .about_info .btn {
  padding: 8px 20px;
  background-color: transparent;
  background-color: #263238;
  color: #fff;
  letter-spacing: 1px;
  font-size: 15px;
  border: none;
  transition: 0.3s;
  margin-top: 20px;
}
.about .container .about_info .btn:hover {
  background-color: #44bb6a;
}

.course .container {
  text-align: center;
}
.course .container .heading span {
  text-transform: uppercase;
  color: #44bb6a;
}
.course .container .heading h2 {
  text-transform: uppercase;
  font-size: 30px;
}
.course .container .allBoxCourse {
  padding: 2rem 4% 3rem 8%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(235px, auto));
  align-items: center;
  gap: 20px;
}
.course .container .allBoxCourse .box {
  border: 2px solid #000;
  position: relative;
  padding: 20px;
}
.course .container .allBoxCourse .box h3 {
  font-weight: 500;
}
.course .container .allBoxCourse .box .info {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 10;
  opacity: 0;
  background-color: #44bb6a;
  color: #fff;
  transition: 0.3s;
}
.course .container .allBoxCourse .box .info .text {
  position: absolute;
  padding: 0 25px;
  top: 50%;
  transform: translateY(-50%);
}
.course .container .allBoxCourse .box .info .text .icon {
  color: #ff0;
}
.course .container .allBoxCourse .box .info .text h3 {
  margin: 20px 0;
}
.course .container .allBoxCourse .box .info .text p {
  margin-bottom: 20px;
}
.course .container .allBoxCourse .box .info .text .btn {
  padding: 8px 20px;
  background-color: transparent;
  background-color: #263238;
  color: #fff;
  letter-spacing: 1px;
  font-size: 15px;
  border: none;
  transition: 0.3s;
  margin-top: 20px;
}
.course .container .allBoxCourse .box .info .text .btn:hover {
  background-color: #ff0;
}
.course .container .allBoxCourse .box .info .text .btn:hover {
  color: #263238;
}
.course .container .allBoxCourse .box:hover .info {
  opacity: 1;
}
.course .container .allBoxCourse .box:hover {
  border-color: #44bb6a;
}

.price {
  background-color: #f6f6f6;
}
.price .container {
  text-align: center;
}
.price .container .allBoxPrice {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, auto));
  align-items: center;
  gap: 20px;
  padding: 2rem 4% 3rem 4%;
}
.price .container .allBoxPrice .box {
  border: 2px solid #000;
  padding: 20px;
  background-color: #fff;
  border-radius: 4px;
  position: relative;
}
.price .container .allBoxPrice .box .img img {
  width: 60%;
}
.price .container .allBoxPrice .box h5 span {
  font-size: 40px;
  font-weight: 400;
}
.price .container .allBoxPrice .box .icons {
  text-align: left;
  margin: 30px 0 50px 0;
}
.price .container .allBoxPrice .box .icons li {
  margin: 20px 0;
}
.price .container .allBoxPrice .box .icons li i {
  color: #44bb6a;
  font-size: 20px;
}
.price .container .allBoxPrice .box .icons li .fa-xmark {
  color: red;
}
.price .container .allBoxPrice .box .btn {
  padding: 8px 20px;
  background-color: transparent;
  background-color: #263238;
  color: #fff;
  letter-spacing: 1px;
  font-size: 15px;
  border: none;
  transition: 0.3s;
  margin-top: 20px;
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}
.price .container .allBoxPrice .box .btn:hover {
  background-color: #44bb6a;
}

.contact .container .heading {
  text-align: center;
}
.contact .container .heading span {
  color: #44bb6a;
}
.contact .container .heading h2 {
  font-size: 30px;
  font-weight: 500;
}
.contact .container .allContactBox {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 2rem 4% 3rem 4%;
}
.contact .container .allContactBox .contactInfo {
  width: 30%;
}
.contact .container .allContactBox .contactInfo ul li {
  display: flex;
  gap: 5px;
}
.contact .container .allContactBox .contactInfo ul li i {
  width: 45px;
  height: 45px;
  line-height: 45px;
  font-size: 20px;
  color: #fff;
  background-color: #44bb6a;
  text-align: center;
  border-radius: 50%;
}
.contact .container .allContactBox .contactInfo ul li .text h2 {
  font-weight: 400;
}
.contact .container .allContactBox .contactInfo ul li .text span {
  color: #777;
}
.contact .container .allContactBox .contactInfo .icon {
  display: flex;
  margin-top: 20px;
}
.contact .container .allContactBox .contactInfo .icon li {
  margin: 0 7px;
  padding: 10px 12px;
  background-color: #263238;
  font-size: 20px;
  border-radius: 2px;
  color: #fff;
  transition: 0.3s;
  margin-bottom: 20px;
  border: 2px solid #263238;
}
.contact .container .allContactBox .contactInfo .icon li:hover {
  background-color: #fff;
  color: #263238;
}
.contact .container .allContactBox .contactForm {
  width: 70%;
}
.contact .container .allContactBox .contactForm form .small {
  display: flex;
  gap: 10px;
  margin: 10px 0;
}
.contact .container .allContactBox .contactForm form .small input {
  width: 100%;
  padding: 10px 5px;
  background-color: #f6f6f6;
  border: none;
  outline: none;
}
.contact .container .allContactBox .contactForm form textarea {
  width: 100%;
  resize: none;
  width: 100%;
  padding: 10px 5px;
  background-color: #f6f6f6;
  border: none;
  outline: none;
}
.contact .container .allContactBox .contactForm form button {
  padding: 8px 20px;
  background-color: transparent;
  background-color: #263238;
  color: #fff;
  letter-spacing: 1px;
  font-size: 15px;
  border: none;
  transition: 0.3s;
  margin-top: 20px;
}
.contact .container .allContactBox .contactForm form button:hover {
  background-color: #44bb6a;
}

.review {
  background-color: #f6f6f6;
}
.review .container {
  text-align: center;
}
.review .container .heading span {
  text-transform: uppercase;
  color: #44bb6a;
}
.review .container .heading h2 {
  text-transform: uppercase;
  font-size: 30px;
}
.review .container .allBoxReview {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, auto));
  align-items: center;
  gap: 20px;
  padding: 2rem 4% 3rem 4%;
}
.review .container .allBoxReview .box {
  border: 2px solid #263238;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
}
.review .container .allBoxReview .box img {
  border-radius: 50%;
  width: 30%;
}
.review .container .allBoxReview .box h2 {
  font-weight: 500;
  margin: 20px 0;
}
.review .container .allBoxReview .box .icon {
  margin-top: 20px;
}
.review .container .allBoxReview .box .icon i {
  color: #44bb6a;
}

.blog .container .heading {
  text-align: center;
  text-transform: uppercase;
}
.blog .container .heading span {
  color: #44bb6a;
  text-transform: uppercase;
}
.blog .container .heading h2 {
  font-weight: 500;
  text-transform: uppercase;
  font-size: 30px;
}
.blog .container .allBoxBlog {
  padding: 2rem 4% 3rem 4%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, auto));
  align-items: center;
  gap: 20px;
}
.blog .container .allBoxBlog .box {
  border: 2px solid #263238;
  padding: 20px;
  text-align: center;
}
.blog .container .allBoxBlog .box img {
  width: 80%;
  transition: 0.3s;
}
.blog .container .allBoxBlog .box img:hover {
  transform: translateY(-10px);
}
.blog .container .allBoxBlog .box h3 {
  font-weight: 500;
  transition: 0.2s;
}
.blog .container .allBoxBlog .box h3:hover {
  color: #44bb6a;
}
.blog .container .allBoxBlog .box p {
  color: #777;
  margin: 20px 0;
}
.blog .container .allBoxBlog .box .calender {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
}
.blog .container .allBoxBlog .box .calender h2 {
  font-size: 15px;
  transition: 0.3s;
}
.blog .container .allBoxBlog .box .calender h2 i {
  color: #44bb6a;
  margin-right: 10px;
}
.blog .container .allBoxBlog .box .calender h2:hover {
  color: #44bb6a;
}

@media (max-width: 1300px) {
  section {
    padding: 3rem 2% 3rem 25%;
  }
  .container_header nav .icons h2 {
    font-size: 20px;
  }
}
@media (max-width: 1110px) {
  section {
    padding: 2rem 2% 3rem 30%;
  }
  .home .container {
    flex-direction: column;
  }
  .home .container .home_img, .home .container .home_info {
    width: 100%;
  }
  .container_header nav {
    width: 27%;
  }
  .category .heading {
    margin-top: 50px;
  }
  .about .container {
    flex-direction: column;
  }
  .about .container .about_img {
    width: 100%;
  }
  .about .container .about_info {
    width: 100%;
  }
  .contact .container .allContactBox {
    gap: 70px;
  }
}
@media (max-width: 950px) {
  .container_header {
    width: 100%;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    height: 100vh;
    left: -100%;
    transition: 0.3s;
  }
  .container_header nav {
    width: 40%;
    top: 0;
    left: -100%;
    transition: 1s;
  }
  .container_header.active, .container_header.active nav {
    left: 0%;
  }
  .menu {
    display: block;
  }
  .container_header nav .icons h2 {
    font-size: 25px;
  }
  section {
    padding: 2rem 8% 3rem 8%;
  }
}
@media (max-width: 770px) {
  .contact .container .allContactBox {
    flex-direction: column;
  }
  .contact .container .allContactBox .contactInfo {
    width: 100%;
  }
  .contact .container .allContactBox .contactForm {
    width: 100%;
  }
}
@media (max-width: 670px) {
  .container_header nav {
    width: 60%;
  }
  .afterHome .container {
    padding: 30px 40px;
  }
  section {
    padding: 2rem 4% 3rem 4%;
  }
  .category .containerCategory .heading h2 {
    font-size: 20px;
  }
  .category .containerCategory .abbBoxCategory {
    padding: 0 50px;
  }
}
@media (max-width: 460px) {
  .container_header nav {
    width: 70%;
  }
  .home .container .home_info h2 {
    font-size: 30px;
  }
  .afterHome .container {
    padding: 30px 20px;
  }
  section {
    padding: 2rem 4% 3rem 4%;
  }
  .category .containerCategory .heading h2 {
    font-size: 20px;
  }
  .category .containerCategory .abbBoxCategory {
    padding: 0 10px;
  }
}
@media (max-width: 390px) {
  .container_header nav .icons h2 {
    font-size: 20px;
  }
  .navIcon {
    flex-wrap: wrap;
  }
  .afterHome .container {
    padding: 30px 10px;
  }
}
@media (max-width: 325px) {
  .container_header nav .icons h2 {
    font-size: 15px;
  }
  .container_header nav {
    width: 60%;
  }
  .home .container .home_info h2 {
    font-size: 25px;
  }
  .about .container .about_info h2 {
    font-size: 20px;
  }
  .blog .container .allBoxBlog .box .calender h2 {
    font-size: 10px;
  }
}/*# sourceMappingURL=style.css.map */